@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
  button:not(:disabled),
  [role="button"]:not([aria-disabled="true"]),
  a[href] {
    cursor: pointer;
  }
  button:disabled,
  [role="button"][aria-disabled="true"] {
    cursor: not-allowed;
  }
}
