# date at which the backup is too old, in days
MENU_BACKUP_TOO_OLD=7

# folder containing backups
# {{{rule:FOLDER_CREATE}}}
MENU_BACKUP_FOLDER=./backup

# Number of items per page for the menu selection
MENU_SELECTION_LIMIT_ITEMS_PER_PAGE=25
