# date at which the backup is too old, in days
MENU_BACKUP_TOO_OLD=7

# folder containing backups
# {{{rule:FOLDER_CREATE}}}
MENU_BACKUP_FOLDER=./backup

# Number of items per page for the menu selection
MENU_SELECTION_LIMIT_ITEMS_PER_PAGE=25

# MENU_SELECTION_DEFAULT_QUOTA_MB specifies the default quota in megabytes (MB) for menu selections.
# This value is used to set a limit on the amount of data that can be allocated for each menu selection.
MENU_SELECTION_DEFAULT_QUOTA_MB=500
